<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>

<%= render 'form', quote: @quote %>


<%= turbo_frame_tag 'quotes' do %>
  <% @quotes.recent.each do |quote| %>
    <%= render quote %>
  <% end %>
<% end %>

<%= link_to "New quote", new_quote_path %>
